html {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	padding:0px;
	margin:0px;
	font-family: verdana, arial, sunSans-Regular, sans-Serif;
	font-size: 12px;
	color: #343434;
	background-color: #5f6871;
}
#wrap {
	margin:0 auto;
	padding: 0px;
	width: 800px;
	background-color: #224a7e;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#header {
	padding: 0;
	margin: 10px;
	height: 80px;
	background-color: #224a7e;
}
#header > h1 {
	position:relative;
	top: 15px;
	line-height: 64px;
	padding-left:55px;
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
}
#header > a > div.email {
	background-image:url('../images/email.png');
	background-repeat:no-repeat;
	color: #FFFFFF;
	position:relative;
	float: right;
	right: 20px;
	top: -70px;
	padding-left: 70px;
	line-height: 64px;
	font-size:1.5em;
}
#header > a {
	text-decoration:none;
}
#sideBar{
	float: left;
	width: 200px;
	height: 95%;
}
#sideBar > h2 {
	margin: 5px 5px 15px 20px;
	font-size: 1.5em;
	font-weight: normal;
	color: #FFFFFF;
}
#sideBar > ul {
	margin: 0px;
	padding: 0px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#sideBar > ul > li {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: solid 1px #FFFFFF;
	height: 28px;
}  
#sideBar > ul > li.selected {
	background-color: #0c2b5a;
}
#sideBar > ul > li > a {
	display:block;
	font-size: 1.1em;
	padding-left: 20px;
	text-decoration: none;
	line-height: 28px;
	width: 180px;
	color: #FFFFFF;
}
#sideBar > ul > li > a:hover {
	text-decoration: underline;
	background-color: #0c2b5a;
}
#content {
	margin: 0 0 0 200px;
	padding: 20px;
	background-color: #F9F6F4;
	line-height: 18px;
	text-align:justify;
	text-justify:inter-word;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/*-moz-bottom-right-border-radius: 10px;
	border-bottom-right-radius: 10px;*/
}
#content > h2{
	margin-top: 0px;
	margin-bottom: 7px;
	font-size: 1.7em;
	font-weight: normal;
	color:#274b6f;
}